.profile__button-edit {
  border: 1px solid white;
  background: no-repeat center / 7.5px url(../../../images/pensil.svg);
  width: 18px;
  height: 18px;
  transition: opacity linear .6s;
  /* Дизайнер хочет, чтобы центрировалось имя_фамилия без учёта кнопки "редактировать", чтобы это реализовать, изымаем кнопку из потока и 
   * абсолютным позиционированием помещаем её правее на 10px от имя_фамилия. Всё это происходит в отдельной обёртке и не влияет на окружение. */
  position: absolute;
  right: -28px;
}

.profile__button-edit:hover {
  cursor: pointer;
  opacity: 60%;
}
