.card__heart {
  width: 22px;
  height: 19px;
  object-fit: contain;
  padding: 0;
  margin: 0 20px 0 0;
  display: block;
  transition: opacity linear .4s;
}

.card__heart:hover {
  opacity: .5;
  cursor: pointer;
}
