.footer__copy {
  padding: min(calc(0.019792 * 100vw + 41.66668px), 67px) 0 min(calc(0.025 * 100vw + 28px), 60px) max(calc( -0.033939 * 100vw + 29.857143px), 0px);
  margin: 0;
  width: 100%;
  color: #545454;
  font: normal normal min(calc(0.004167 * 100vw + 12.6668px), 18px)/1.2 'Inter', sans-serif;
}
