@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

@import url(../blocks/body/body.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);

@import url(../blocks/content/content.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar-picture/profile__avatar-picture.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css); 
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/profile/__name-button/profile__name-button.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places/__list/places__list.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__picture/card__picture.css);
@import url(../blocks/card/__text-heart/card__text-heart.css);
@import url(../blocks/card/__place/card__place.css);
@import url(../blocks/card/__heart/card__heart.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copy/footer__copy.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/__author/form__author.css);
@import url(../blocks/form/__button/form__button.css);
@import url(../blocks/form/__buttons/form__buttons.css);
@import url(../blocks/form/__items/form__items.css);
@import url(../blocks/form/__item/form__item.css);
@import url(../blocks/form/__title/form__title.css);
